/* Stilizam html-ul venit de la The Guardian. */
.NewsDetails {
  text-align: left;
}

.NewsDetails img {
  width: 100%;
  height: auto;
}

.NewsDetails a {
  color: var(--text-secondary);
}

.NewsDetails a:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

.NewsDetails h2,
.NewsDetails h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.NewsDetails figcaption {
  font-size: 0.875rem;
}

/* Selectam iframe-urile care au ca valoare a atributului src un sir ce contine subsirul "youtube". */
.NewsDetails iframe[src*="youtube"] {
  width: 100%;
  aspect-ratio: 16 / 9;
}
