/* Suprascriem stilizarea default a paginarii lui Bootstrap. */
.Pagination a {
  color: var(--text-primary);
}

.Pagination a:hover {
  color: var(--text-primary);
}

.Pagination span#pagination-active {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}
